{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="col s6">
	<div class="row">
		<div class="header col s12 m10 offset-m1">
			<div class="row">
				<form class="col s11 offset-s1 reg"  method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<h2>Додайте новину</h2>


								 {{ form.as_p }}
								<br>

								<br>
							  <button type="submit" class="sbm_auth waves-effect waves-light btn-large col s12">Додати</button>

					</form>
			</div>
		</div>


	</div>
</section>

{% endblock %}
