{% extends 'base.html' %}
{% load my_tags %}
{% load static %}


{% block content %}


<section class="minus_store col s6">
    <div class="row">
        <form class="col s12" action="{% url  'minus-search' %}" method="GET">
            <div class="row main_search__row">
                <div class="input-field col s12 main_search">
                    <lord-icon
                            class="search_icon"
                            src="https://cdn.lordicon.com/msoeawqm.json"
                            trigger="loop"
                            delay="300"
                            colors="primary:#6baf00,secondary:#6baf00"
                            stroke="100"
                            style="width:30px;height:30px">
                    </lord-icon>
                    <input id="icon_prefix" name="search" type="text" class="validate ">
                    <label for="icon_prefix" class="icon_prefix">Пошук мінусовок</label>
                </div>

            </div>
        </form>

        {% letters %}
        <div class="form_select_type_minus col s12">
            <div class="form_select_type_minus_row">
                <form action="{% url  'minusstore_main' %}" class="col s11 offset-s1" method="get">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6 select_region">
                            <select multiple name="type">
                                <option value="0">Всі</option>
                                <option value="Аудіо">Аудіо</option>
                                <option value="General MIDI">General MIDI</option>
                                <option value="Ноти">Ноти</option>
                            </select>
                            <label>Тип</label>

                        </div>
                        <div class="input-field col s6 select_region">
                            <select multiple name="categories">

                                <option value="Все">Все</option>
                                <optgroup label="Українські мінусовки">
                                    <option value="Авторськi">Авторськi</option>
                                    <option value="Оригiнал">Оригiнал</option>
                                    <option value="Оригiнал + бек">Оригiнал + бек</option>
                                    <option value="Студiйнi копiї">Студiйнi копiї</option>
                                    <option value="Задавки-нарiзки">Задавки-нарiзки</option>
                                    <option value="Українськi народнi">Українськi народнi</option>
                                </optgroup>

                                <optgroup label="Інструментальні">
                                    <option value="Iнструментальнi твори">Iнструментальнi твори</option>
                                    <option value="Лаунч музика(фонова)">Лаунч музика(фонова)</option>
                                    <option value="Мiнуси для iнстурментiв(сакс,гiтари,труба,акордеон та iн.)">Мiнуси
                                        для iнстурментiв(сакс,гiтари,труба,акордеон та iн.)
                                    </option>
                                </optgroup>
                                <optgroup label="Iншi записи">
                                    <option value="Бiлоруськi">Бiлоруськi</option>
                                    <option value="Польськi">Польськi</option>
                                    <option value="Угорськi">Угорськi</option>
                                    <option value="Чешськi">Чешськi</option>
                                    <option value="Молдавськi">Молдавськi</option>
                                    <option value="Румунськi">Румунськi</option>
                                </optgroup>
                            </select>
                            <label>Каталог</label>

                        </div>
                        <div class="input-field col s6 select_region">
                            <select multiple name="specifik">
                                <option value="Естрадні">Естраднi</option>
                                <option value="Класичні">Класичнi</option>
                                <option value="Народні">Народнi</option>
                                <option value="Ресторанні">Рестораннi</option>
                                <option value="Пiсні про маму">Пiснi про маму</option>
                                <option value="Пiсні про тата">Пiснi про тата</option>
                                <option value="До дня Валентина">До дня Валентина</option>
                                <option value="До дня народження">До дня народження</option>
                                <option value="Випускні">Випускнi</option>
                                <option value="Військово,повстанські">Вiйськово,повстанськi</option>
                                <option value="До 8 березня">До 8 березня</option>
                                <option value="Християнські">Християнсьki</option>
                                <option value="Дитячі">Дитячi</option>
                                <option value="Новорічні">Новорiчнi</option>
                                <option value="На паску">На паску</option>
                                <option value="Різдвяні">Різдвяні</option>
                                <option value="Про школу">Про школу</option>
                                <option value="Мюзiкли">Мюзікли,опери,балети</option>
                                <option value="Спорт,туризм">Спорт,туризм</option>
                                <option value="Пісні з мультфільмів">Пісні з мультфільмів</option>
                                <option value="Пісні з кіно">Пісні з кіно</option>
                                <option value="Пісні про професії">Пісні про професії</option>
                                <option value="Про природу">Про природу</option>
                                <option value="Про сім'ю,родину">Про сім'ю родину</option>
                                <option value="Про кохання">Про кохання</option>
                                <option value="Інше призначення">Інше призначення</option>
                            </select>
                            <label>Вибір за призначенням</label>

                        </div>
                        <div class="input-field col s6 select_region">
                            <select multiple name="genre">

                                <option value="POP">POP</option>
                                <option value="ROCK">ROCK</option>
                                <option value="ROCK&ROLL">ROCK&ROLL</option>
                                <option value="Acoustic">Acoustic</option>
                                <option value="Latin">Latin</option>
                                <option value="Bossa nova">Bossa nova</option>
                                <option value="Blues">Blues</option>
                                <option value="Ballad">Ballad</option>
                                <option value="Classic">Classic</option>
                                <option value="Jazz">Jazz</option>
                                <option value="Country">Country</option>
                                <option value="Dance">Dance</option>
                                <option value="Transe">Transe</option>
                                <option value="Hous">Hous</option>
                                <option value="Techno">Techno</option>
                                <option value="Disco">Disco</option>
                                <option value="Folk">Folk</option>
                                <option value="Funk">Funk</option>
                                <option value="Metall">Metall</option>
                                <option value="Punk">Punk</option>
                                <option value="R&B">R&B</option>
                                <option value="Rap\Hip-hop">Rap\Hip-hop</option>
                                <option value="Waltz">Waltz</option>
                                <option value="Marsh">Marsh</option>
                                <option value="Tango">Tango</option>
                                <option value="Foxtrot">Foxtrot</option>
                                <option value="Інші жанри">Інші жанри</option>
                            </select>
                            <label>Вибір за жанром</label>

                        </div>
                        <div class="col s12 main_btn">
                            <button type="submit" class="search__form_btn">Знайти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="author_minuses" class="authors col s12 m10 offset-m1">
            <div class="row">
                <h3>{% if letter %} Всі автори на {{ letter }} {% else %}Всі автори {% endif %}</h3>
                <span style="display:none;" id="letter">{{ letter }}</span>
                <ul class="collapsible expandable" id="authors">
                    {% for a in author|dictsort:'name' %}
                    <li class="authors_li">
                        <div class="collapsible-header gaveminus" id="{{ a.id }}">
                            <!-- <i class="material-icons">person</i> -->
                            <a>{{ a.name }}</a>
                            <span class="badge"></span></div>
                        <div class="collapsible-body" id="{{ a.id }}b">


                        </div>
                    </li>
                    {% endfor %}

                </ul>

            </div>
        </div>
        <div class="folk col s11 offset-s1">
            <h2><i class="material-icons big">nature_people</i> Народні композиції:</h2>
            {% for m_folk in folk_minus %}
            <div class="folk_song">
                <a href="{% url 'minus' pk=m_folk.id %}" style="color:#000;" >
                    <p class = "song_info"><span class="song_title"><i class="material-icons">headset</i> {{ m_folk.title }}</span>
                    <span>{% if m_folk.type_id == 1 %}<span
                            style="color:#6baf00;">((Audio)</span>{% elif m_folk.type_id == 2 %}<span style="color:red;">((Midi)</span>{% elif m_folk.type_id == 3%}<span
                            style="color:blue;">((Ноти)</span>{% endif %} {{ m_folk.filesize }}кб  {{ m_folk.bitrate }}Кбіт/с ) </span>
                    </p>
                </a>
                <div class="custom-audio-player">
                    <div class="player-body">
{#                        {% if sub.exclusive is True %}#}
                            <div class="strip-player" style=""><span>Ексклюзивний</span></div>
{#                        {% endif %}#}
                        <div class="player-controls-play">
                            <button class="player-play-btn"
                                    role="button"
                                    aria-label="Play"
                                    data-playing="false"
                                    data-audio="player-1"
                            >
                                <div class="player-icon-play">
                                    <svg class="player-icon-play-icon" version="1.1"
                                         id="svg2" xmlns:dc="http://purl.org/dc/elements/1.1/"
                                         xmlns:cc="http://creativecommons.org/ns#"
                                         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                         xmlns:svg="http://www.w3.org/2000/svg"
                                         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                                         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                                         sodipodi:docname="play-alt.svg"
                                         inkscape:version="0.48.4 r9939"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200"
                                         xml:space="preserve">
<path fill="#6baf00" id="path16995" inkscape:connector-curvature="0" d="M600,1200C268.65,1200,0,931.35,0,600C0,268.65,268.65,0,600,0
	c331.35,0,600,268.65,600,600C1200,931.35,931.35,1200,600,1200z M450,300.45v599.1L900,600L450,300.45z"/>
</svg>
                                </div>
                                <div class="player-icon-pause hidden">

                                    <svg class="player-icon-pause-icon" version="1.1"
                                         id="svg2" xmlns:dc="http://purl.org/dc/elements/1.1/"
                                         xmlns:cc="http://creativecommons.org/ns#"
                                         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                         xmlns:svg="http://www.w3.org/2000/svg"
                                         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                                         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                                         sodipodi:docname="pause-alt.svg"
                                         inkscape:version="0.48.4 r9939"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200"
                                         xml:space="preserve">
<path fill="#6baf00" id="path15778" inkscape:connector-curvature="0" d="M600,0C268.629,0,0,268.629,0,600s268.629,600,600,600
	s600-268.629,600-600S931.371,0,600,0z M330.835,289.38h181.714v621.24H330.835V289.38z M687.451,289.38h181.714v621.24H687.451
	V289.38z"/>
</svg>
                                </div>
                            </button>

                        </div>
                        <div class="player-controls">
                            <div class="player-timeline">
                                <input type="range" id="seek-bar" min="0" max="100" value="0">
                            </div>
                            <div class="current-time"><span id="currentTime">0:00</span>/<span id="durationTime">0:00</span></div>
                            <div class="player-volume-container">
      <span class="icon-volume"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="bi bi-volume-down-fill" viewBox="0 0 16 16">
  <path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12V4zm3.025 4a4.486 4.486 0 0 1-1.318 3.182L10 10.475A3.489 3.489 0 0 0 11.025 8 3.49 3.49 0 0 0 10 5.525l.707-.707A4.486 4.486 0 0 1 12.025 8z"/>
</svg></span>
                                <input type="range" id="volume" min="0" max="1" value="1" step="0.01"
                                       class="player-volume"/>
                            </div>
                        </div>
<!--                        <audio id="player-1" data-type="a" src="/static/{{ m_folk.file }}"-->
<!--                               controlsList="nodownload"></audio>-->

                        <p class="paid_icon">$</p>
                    </div>


                </div>


            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<!--<script src="{% static 'js/minusstore/authorsList.js' %}" type="text/babel"></script>-->
<script type="text/javascript" src="/static/js/scrollToMinuses.js"></script>

{% endblock %}
