{% extends 'base.html' %}

{% load static %}
{% load my_tags %}
{% block content %}

<section class="messanger col s6">
    <div class="messanger-body">
        <div class="chat-list">
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
            <div class="chat-item">
                <img src="/static/img/user.png" width="50px" height="50px">
                <div class="chat-item-info">
                    <div class="up-info">
                        <span>Username</span>
                        <span class="message-data">05.12.2023</span>
                    </div>
                    <div class="message-info">
                        <div class="message-text">Нове повідомлення</div>
                        <div class="new-message-count">2</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical"></div>
        <div class="chat-field">
            <div class="chat-header">
                <img src="/static/img/user.png" width="50px" height="50px">
                <span>Username</span>
            </div>
            <div class="scroll-messages">
                <div class="messages">
                    <div class="user-message">
                        <div class="reply-like-block">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" fill="#6baf00">
                                <path d="M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z"/>
                            </svg>
                            <input id="heart" type="checkbox" class="heart"/>
                            <label for="heart" class="heart-label">❤</label>
                        </div>
                        <div class="message-field">Повідомлення від юзера</div>
                    </div>
                    <div class="companion-message">
                        <div class="message-field">Від співрозмовника</div>
                        <div class="reply-like-block">
                            <input id="heart1" type="checkbox" class="heart"/>
                            <label for="heart1" class="heart-label">❤</label>
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" fill="#6baf00">
                                <path d="M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <form class="message-form">
                <input type="text" class="typed-message" placeholder="Введіть повідомлення..." autofocus>
                <button class="submit">Надіслати</button>
            </form>
        </div>
    </div>
</section>





{% endblock %}
