{% extends "base.html" %}

{% load static %}
{% load my_tags %}
{% block content %}

	<section class="respect-section col s6">
		<div class="row">


			<div class="main_btn col s12 m10 offset-m1">
			  <div class="main_btn_row">
				<a class="waves-effect waves-light btn-large col s6"><i class="material-icons left">file_download</i>Завантажити мінусовку</a>
				<a class="waves-effect waves-light btn-large col s6"><i class="material-icons right">star</i>Статут та правила порталу</a>
			  </div>
			</div>


		<div class="shames col s11 offset-s1">
		<div class="row">
			{% for u in users %}
			<div class="card col s12 ">
				<div class="card__container">
					<div class="card__main__info">
						<div class="card__image-box">
							<img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" class="activator card__user__photo">
<!--							<span style="font-size:1.3em;">{{ u.banned_until }}</span>-->
						</div>
						<div class="card__user-info">
							<p class="card__text_name">
								{% if u.user.first_name and u.user.last_name %}{{ u.user.first_name }} {{ u.user.last_name }} {% else %}  {{ u.user.username }} {% endif %}
							</p>
							<p class="card__text">
								Заблокований - <span style="font-size:1.3em;">{{ u.banned_until }}</span>
							</p>
<!--							<p class="card__text">-->
<!--								Blocked - leroowof-->
<!--							</p>-->
<!--							<p class="card__text">-->
<!--								Time - 235-->
<!--							</p>-->
<!--							<p class="card__text">-->
<!--								Why -sdsd-->
<!--							</p>-->
						</div>
					</div>
					<div class="card__controller">

						<a class="waves-effect waves-light btn-large col s12 comments card-btn"  ><i class="material-icons left">comment</i>2</a>

					</div>


				</div>
			</div>
<!--			<div class="card col s12 shame">-->
<!--    			<div class="card-image waves-effect waves-block waves-light" >-->
<!--      				<img class="activator" style="display: inline-block;" src="/static/{% avatar pk=u.user.id %}"><br>-->
<!--      				<span style="font-size:1.3em;">{{ u.banned_until }}</span>-->

<!--    			</div>-->
<!--    			<div class="card-content">-->
<!--						<div class="row">-->
<!--      			<span class="card-title activator grey-text text-darken-4">{% if u.user.first_name and u.user.last_name %}{{ u.user.first_name }} {{ u.user.last_name }} {% else %}  {{ u.user.username }} {% endif %} </span>-->
<!--      			<div class="main_btn">-->
<!--					<div>-->
<!--						<a class="waves-effect waves-light btn-large col s12 ">Оскаржити рішення</a>-->
<!--						<a class="waves-effect waves-light btn-large col s12 comments"  ><i class="material-icons left">comment</i>2</a>-->

<!--					</div>-->

<!--				</div>-->
<!--					</div>-->
<!--    			</div>-->
<!--    			&lt;!&ndash; <div class="card-reveal">-->
<!--      				<span class="card-title grey-text text-darken-4">{{ u.user.first_name }} {{ u.user.last_name }}<i class="material-icons right">close</i></span>-->
<!--      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--    			</div> &ndash;&gt;-->
<!--		    </div>-->
				{% endfor %}

			</div>
		</div>
	</div>
	</section>


{% endblock %}
