{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="col s6">
	<div class="row">
		<form class="col s12">
      		<div class="row">
        		<div class="input-field col s12">
          			<i class="material-icons prefix">search</i>
          			<input id="icon_prefix" type="text" class="validate">
          			<label for="icon_prefix">Пошук мінусовок</label>
        		</div>

      		</div>
    	</form>


		<div class="authors col s8 offset-s3">
			<div class="row">

					<h3>Повідомлення модераторам</h3>

				{% for message in moderator_messages %}
				<div class="col s12">
					{% if message.content_id == 17 %}
						<a href="/minusstore/minus/{{ message.object_pk }}"><p style="color:#9ACD32;font-weight: bold;">Проблемна мінусовкаа !Перевірте оформлення та інше<p style="color:black;">{{ message.attention_message }}</p><br> </p></a>
					<!-- <audio src="/static/{{ m.file }}" controls controlsList="nodownload"></audio> -->

					{% elif message.content_id == 52 %}
					<a href="/shop/goods/{{ message.object_pk }}"><p style="color:#9ACD32;font-weight: bold;"> Проблемне оголошення!Перевірте оформлення та інше<p style="color:black;">{{ message.attention_message }}</p></p></a>

					{% endif %}
						<br>
					<hr width="100%">
				</div>


				{% endfor %}

			</div>
		</div>
</div>
</section>


{% endblock %}
